@import '../../styles/variables.css';

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 1px solid var(--color-border);
  vertical-align: baseline;
  background: var(--color-background-button);
  color: var(--color-text);
  padding: 9.5px 14px;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  max-width: 100%;
  min-height: 38px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.button:hover {
  background: var(--color-background-hover);
  border-color: var(--color-border);
}
.button:active {
  background: var(--color-background-active);
  box-shadow: none;
}
.active {
  border-color: var(--color-background-active);
  box-shadow: none;
  position: relative;
  z-index: 2;
}
.button:hover, .button:focus, .button:active {
  position: relative;
  z-index: 1;
}
.basic {
  color: var(--color-background-primary);
  background: transparent;
  box-shadow: none !important;
  border: none !important;
}

.basic:hover, .basic:focus {
  color: var( --color-primary-hover);
  background: var(--color-background-hover);
}
.basic:active, .basic.active {
  color: var( --color-primary-hover);
  background: rgb(0, 0, 0, 0.1);
}
.disabled {
  cursor: default;
  pointer-events: none !important;
  color: #acabab !important;
  background: var(--color-background-muted);
  box-shadow: none !important;
}
.disabled:not(.active):not(.basic) {
  background: var(--color-background-muted);
  border: 1px solid var(--color-border) !important;
}
.small {
  font-size: 12px;
  min-height: 24px;
  padding: 0 0.75rem;
}

.pill, .round {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13px;
  font-weight: bold;
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
}
.round {
  padding: 0;
  width: 35px;
  border-radius: 50%;
  line-height: 1;
}
.round.small {
  width: '24px';
}
.blue {
  background-color: var(--color-background-footer);
}
.blue:hover, .blue:focus {
  background-color:  #1473d2;
}
.blue:active {
  background-color: #3399ff
}
.red {
  background-color: #ff1a1a;
}
.red:hover, .red:focus {
  background-color: #ff1a1a;
}
.red:active {
  background-color: #ff1a1a;
}
.green {
  background-color: #46C547;
}
.green:hover, .green:focus {
  background-color: #46C547;
}
.green:active {
  background-color: #46C547;
}
button.orange, button.red, button.green, button.blue {
  color: var(--color-white);
}
button.blue:hover, button.blue:focus, button.red:hover, button.red:focus, button.green:hover, button.green:focus {
  color: var(--color-white);
}
button.blue:active, button.red:active, button.green:active {
  color: var(--color-white);
}
