.text{
	color: var(--color-text)
}

 .bold {
	 font-weight: bold;
}
 .center {
	 text-align: center;
}
 .muted {
	 color: var(--color-text-muted);
}
 .small {
	 font-size: 0.9em;
}
 .link {
    text-decoration: none;
	 color: var(--color-footer-link);
	 cursor: pointer;
     outline: none;
}
 .link:hover {
	 color: var(--color-primary);
}

 