.dropdown {
    position: relative;
    width: fit-content;
}

.menu {
    position: absolute;
    left: 0;
    top: calc(100% + 0.25rem);
    background-color: var(--color-background-raised);
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 150ms opacity ease-in-out, transform 150ms ease-in-out;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    min-width: 7em;
    max-width: 30em;
}

.menu.left {
    right: 0;
    left: initial
}

.dropdown > .menu.open{
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
}

.item {
    color: var(--color-text);
    max-width: 100%;
    line-height: 30px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5rem;
    font-size: 1rem;
    left:0
}

.item:hover{
    background-color: var(--color-listitem-hover);
    cursor: pointer;
}

.item.selected{
    background-color: var(--color-listitem-active);
    cursor: pointer;
}
