 .name {
	 padding: 10px;
	 padding-bottom: 0px;
	 display: flex;
	 align-items: flex-start;
     font-weight: 700;
}
 .list {
	 flex-shrink: 0;
	 background: var(--color-background-raised);
}
 .list.bordered:first-child, .list.bordered:first-child > :first-child {
	 border-top-left-radius: inherit;
	 border-top-right-radius: inherit;
}
 .list.bordered:last-child, .list.bordered:last-child > :last-child {
	 border-bottom-left-radius: inherit;
	 border-bottom-right-radius: inherit;
}
 .item {
	 color: inherit;
	 display: block;
	 transition: background-color 0.2s;
	 position: relative;
	 line-height: 1.5rem;
	 border-bottom: 1px solid var(--color-border);
	 background: var(--color-background-raisd);
	 transition: background 0.3s;
	 overflow-wrap: break-word;
	 hyphens: auto;
}
 .item:not(.heading):after {
	 content: '';
	 position: absolute;
	 left: 0;
	 top: 0;
	 bottom: 0;
	 width: 5px;
	 border-top-left-radius: inherit;
	 border-bottom-left-radius: inherit;
	 transition: background 0.3s;
}
 .item.action {
	 cursor: pointer;
}

.item .metadata{
		margin: 10px;
		display: block;
		font-size: .9rem;
		width: 100%;
		font-weight: normal;
		margin-top: 3px;
		color: var(--color-text-muted);
}

 .item.action:not(.active):hover {
	 background: var(--color-listitem-hover);
}
 .item.action:not(.active):hover:after {
	 background: var(--color-text-muted);
}
 .item.active {
	 cursor: default;
	 position: relative;
	 z-index: 1;
	 background: var(--color-listitem-active);
}
 .item.active:after {
	 background: #3399ff !important;
}