
:root {
  --color-text: #000000;
  --color-background-button: #f5f7f9;
  --color-background: #f5f7f9;
  --color-background-raised: white;
  --color-border:#e6e6e6;
  --color-background-hover: #f9fafa;
  --color-background-active: #ebedef;
  --color-background-muted: #ecedef;
  --color-background-primary: #3399ff;
  --color-primary-hover: #0080ff;
  --color-white: white;
  --color-text-disabled: #acabab;
  --color-divider: #DDDDDD;
  --color-text-muted:#7d7b7a;
  --color-background-input: white;
  --color-background-footer: #004a8a;
  --color-footer-link: #0080ff;
  --color-footer-text-color: #cfd4d8;
  --color-input-placeholder: #7d7b7a;
  --color-listitem-hover: #f5f7f9;
  --color-listitem-active: #e4f0ff;
  --color-background-table-header: #E9ECEE;
  --color-background-table-row-tinted: #F8F9F9;
  --color-background-toggle: #CCCC;
  --color-background-tooltip: #000000;
  --color-background-sidebar: rgb(6 40 73);
  --color-active-sidebar: #004a8a



}
