html[data-theme='dark'] {
  
    --color-text: #cfd4d8;
    --color-background-button: #4c545d;
    --color-background: #1e2124;
    --color-border: transparent;
    --color-background-hover:#57616b;
    --color-background-raised: #353b41;
    --color-background-active: #3399ff;
    --color-background-muted:  #00000033;
    --color-background-primary: #3399ff;
    --color-primary-hover: #0080ff;
    --color-white: #cfd4d8;
    --color-divider: #cfd4d8;
    --color-text-muted: #97a1aa;
    --color-background-input: hsl(210deg 10% 28%);
    --color-background-footer: #3399ff;
    --color-footer-link: #cfd4d8;
    --color-footer-text-color: #cfd4d8;
    --color-input-placeholder: #636e79;
    --color-listitem-hover: hsl(210deg 10% 28%);
    --color-listitem-active: #0e1d23;
    --color-background-table-header: #3E464C;
    --color-background-table-row-tinted: #282D31;
    --color-background-toggle: #5C5C5C;
    --color-background-tooltip: #97a1aa;

  }