
 .label {
	 display: flex;
	 align-items: center;
}
 .label.labelLeft {
	 margin-bottom: 0;
	 flex-shrink: 0;
	 padding-right: 10px;
}
 .label.labelLeft > label {
	 margin-bottom: 0;
}
 .label > label {
	 display: flex;
	 align-items: center;
	 font-weight: bold;
	 font-size: 13px;
	 margin-bottom: 5px;
}
 .label > label span {
	 line-height: 0;
}
 