.container {
    position: relative;
    min-height: 1.5em;
    border: .05em solid #777;
    display: flex;
    min-width: 150px;
    align-items: center;
    padding: .5em;
    border-radius: 0.25em;
    gap: .5em;
    color: var(--color-text);
}

span:empty::before {
    color: var(--color-input-placeholder);
    content: attr(data-placeholder);
}

.container.small {
    font-size: 12px;
    height: 24px;
    padding: 0 7px;
    line-height: 24px;
}

.container:focus {
    border-color: var(--color-background-primary);
}

.value {
    flex-grow: 1;
    display: flex;
    gap: 0.3em;
    flex-wrap: wrap;
}

.clearBtn {
    background: transparent;
    color: #777;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25em;
}
.clearBtn:focus,
.clearBtn:hover {
    color: #333;
}

.optionBtn {
    display: flex;
    align-items: center;
    border: 0.05em solid #777;
    border-radius: .25em;
    padding: 0.15em 0.25em;
    gap: 0.25em;
    cursor: pointer;
    background: none;
    outline: none;
    color: var(--color-text);
}


.optionBtn:hover,
.optionBtn:focus {
    background-color: #89cff0;
    border-color: #89cff0;
}

.optionBtn:hover > .removeBtn,
.optionBtn:focus > .removeBtn{
    color: #BC544B;
}

.optionBtn > .removeBtn {
    font-size: 1.75em;
    color: #777;
}

.divider {
    background-color: #777;
    align-self: stretch;
    width: .05em;
}

.caret {
    border: 0.25em solid transparent;
    border-top-color: #777;
    translate: 0 25%;
}

.options {
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 15em;
    overflow-y: auto;
    border: .05em solid #777;
    border-radius: 0.25em;
    width: 100%;
    left:0;
    top: calc(100% + 0.25em);
    background-color: var(--color-background-raised);
    cursor: pointer;
    z-index: 10;
    display: none; 
}

.options.show {
    display: block;
}


.empty {
    color: #acabab;
    padding: 0.25em 0.5em
}

.option {
    padding: 0.25em 0.5em
}

.option.selected {
    background-color:var(--color-listitem-active);;
    color: var(--color-text);
}

.option.selected:hover,
.option.highlighted:hover,
.option.highlighted  {
    background-color: var(--color-listitem-hover);
    color: var(--color-text);
}