.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 1px solid #000000;
  vertical-align: baseline;
  background: white;
  color: #eb6429;
  padding: '9.5px' '14px';
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: '4px';
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  max-width: 100%;
  min-height: 38px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.button:hover {
  background: #eb6429;
  border-color: #000000;
}
.button:active {
  background: var(--color-background-button-default-active);
  box-shadow: none;
}
.button.active {
  border-color: var(--color-background-button-primary);
  color: #eb6429;
  position: relative;
  z-index: 2;
}
.button:hover, .button:focus, .button:active {
  position: relative;
  z-index: 1;
}
.basic {
  color: #eb6429;
  background: transparent;
  box-shadow: none !important;
  border: none !important;
}
.basic.muted {
  color: #000000;
}
.basic:hover, .basic:focus {
  color: #ce4c13;
  background: rgba(0,0,0,0.05);
}
.basic:active, .basic.active {
  color: #9f3b0f;
  background: rgba(0,0,0,0.1);
}
.disabled {
  cursor: default;
  pointer-events: none !important;
  color: var(--color-text-faint) !important;
  box-shadow: none !important;
}
.disabled:not(.active):not(.basic) {
  background: var(--color-background-disabled) !important;
  border: 1px solid var(--color-border) !important;
}
.small {
  font-size: '12px';
  min-height: '24px';
  padding: 0 0.75rem;
}
.pill, .round {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13px;
  font-weight: bold;
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
}
.round {
  padding: 0;
  width: 10px;
  line-height: 1;
}
.round.small {
  width: '24px';
}
.orange {
  background-color: #EA6020;
}
.orange:hover, .orange:focus {
  background-color: #ff8c00;
}
.orange:active {
  background-color: var(--color-background-button-primary-active);
}
.red {
  background-color: var(--color-background-button-error);
}
.red:hover, .red:focus {
  background-color: var(--color-background-button-error-hover);
}
.red:active {
  background-color: var(--color-background-button-error-active);
}
.green {
  background-color: #46C547;
}
.green:hover, .green:focus {
  background-color: dark #46C547;
}
.green:active {
  background-color: var(--color-background-button-success-active);
}
.orange, .red, .green {
  color: #fff;
}
.orange:hover, .orange:focus, .red:hover, .red:focus, .green:hover, .green:focus {
  color: #fff;
}
.orange:active, .red:active, .green:active {
  color: #fff;
}
