:root {
  --size-checkbox: 20px;
  /* TODO: Move to top level so other components can share them */
  --color-disabled: #acabab;
  --color-primary: #3399ff;
}

.checkbox {
  position: relative;
  display: inline-flex;
  min-width: var(--size-checkbox);
  height: var(--size-checkbox);
}
.checkbox.noLabel {
  width: var(--size-checkbox);
}
.checkbox.small {
  font-size: 12px;
}
.checkbox input {
  position: absolute;
  width: var(--size-checkbox);
  height: var(--size-checkbox);
  opacity: 0 !important;
  z-index: -1;
}
.checkbox label {
  cursor: pointer;
  user-select: none;
  display: flex;
  gap: 8px;
  align-items: center;
}
.checkbox label .checkmark {
  display: block;
  flex-shrink: 0;
  background: white;
  /* Icon size = Box size - padding - border */
  font-size: calc(var(--size-checkbox) - 4px - 2px);
  padding: 2px;
  border-radius: 0.214286rem;
  transition: all 0.1s ease;
  border: 1px solid #ddd;
  color: transparent;
}
.checkbox label:hover .checkmark {
  border-color: #bbb;
}
.checkbox input:checked ~ label .checkmark {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}
.checkbox.disabled {
  cursor: default;
  pointer-events: none;
}
.checkbox.disabled label {
  color: var(--color-disabled);
}
.checkbox.disabled .checkmark {
  background: var(--color-disabled) !important;
  border-color: var(--color-disabled) !important;
}
