.footer {
    position: fixed; 
    bottom: 0;  
    left:0;
    right: 0;
    height: 75px;
    background-color: var(--color-background-footer);
    padding: auto;
    z-index: 110;
    color: var(--color-footer-text-color);
}