 .tooltip {
	 background: rgb(0 0 0 / 87%);
	 fill: rgb(0 0 0 / 87%);
	 z-index: 1500;
	 color: #f5f7f9;
     padding: 4px 8px;
	 border-radius: 3px;
}
 .tooltip * {
	 color: #f5f7f9;
}
 .tooltip > svg, .tooltip > svg > * {
	 fill: inherit !important;
}
 .tooltip.error {
	 background: hsl(0deg 71% 53%);
	 fill: hsl(0deg 71% 53%);
}
 .tooltip.warning {
	 background: hsl(45deg 51% 73%);
	 fill: hsl(45deg 51% 73%);
}
 