 .tooltip {
	 background: var(--color-background-tooltip);
	 fill: rgb(0 0 0 / 87%);
	 z-index: 1500;
	 color: var(--color-text);
     padding: 4px 8px;
	 border-radius: 3px;
}
 .tooltip * {
	 color: #f5f7f9;
}
 .tooltip > svg, .tooltip > svg > * {
	 fill: var(--color-background-tooltip) !important;
}
 .tooltip.error {
	 background: hsl(0deg 71% 53%);
	 fill: hsl(0deg 71% 53%);
}
 .tooltip.warning {
	 background: hsl(45deg 51% 73%);
	 fill: hsl(45deg 51% 73%);
}
 